<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activate your hurima account</title>
    <link rel="shortcut icon" href="data:,">
</head>

<body>
    <h1>Welcome!  This is <a href="{{ .Origin }}" target="_blank" rel="noopener noreferrer">{{ .Origin.Hostname }}</a> account registration mail.</h1>
    <p>Please enter the code below on the email verification page</p>
    <a href="{{ .ActivationLink }}" target="_blank" rel="noopener noreferrer" style="font-family: sans-serif; display: inline-block; height: 48px; line-height: 48px; padding: 0 24px; background-color: whitesmoke; border-radius: 24px;">Login</a>
    <p>
        <em style="font-family: sans-serif;">It expires in an hour and can only be used once.</em>
    </p>
</body>
</html>