<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .table {
            border-collapse: collapse;
            width: 600px;
            border-radius: 50px;
            border: 1px solid #cdd1d5;
        }
    </style>
    <title>flema account activation</title>
</head>

<body>
    <h3>Hello <span text="{{ .username }}"></span>!  This is flema Account registration mail.</h3>
    <p>Welcome to flema!</p>
    <p>Please enter the code below on the email verification page</p>
    <p>{{ .VerificationCode }}</p>
    <p>
        <em style="font-family: sans-serif;">It expires in an hour and can only be used once.</em>
    </p>
</body>
</html>