.bg-black {
    background-color: black;
}

.hurima-navbar {
    font-weight: bold;
}

.hurima-logo-text {
    fontWeight: bold;
    borderBottom: "0px solid #e1e8ed";
    boxShadow: "0 0 3px #aaa";
}

.items i {
    display: flex;
}

.watchlist i {
    display: flex;
    color: white;
}

.login i {
    display: flex;
}

.signup i {
    display: flex;
}

.signout i {
    display: flex;
}

.account i {
    display: flex;
}