.hurima-navbar {
    font-weight: bold;
    color: white;
}

.hurima-logo {
    margin-right: 80px;
}

.hurima-logo:hover {
    cursor: pointer;
}

.hurima-logo-text {
    font-weight: bold;
}

.items i {
    display: flex;
}

.watchlist i {
    display: flex;
}

.login i {
    display: flex;
}

.signup i {
    display: flex;
}

.signout i {
    display: flex;
}