.HUrima-logo {
    margin-right: 80px;
}

.HUrima-logo:hover {
    cursor: pointer;
}

.watchlist i {
    display: flex;
}

.watchlist i #watchlist-font {
    font-size: 0.5em;
}


.login i {
    display: flex;
}
